
*.wav
.DS_Store
.DS_Store
.DS_Store
Sam_AoYS_test.mp3
old versions/ys.test.pd
old versions/ys.comport.pd
old versions/vurnilla-help.pd
old versions/soundlist.txt
old versions/singleMemory_ultralite.pd
old versions/singleMemory_ram.pd
old versions/singleMemory_fade.pd
old versions/singleMemory_bela.pd
old versions/singleMemory.pd
old versions/memoryMulticore_instrument.pd
old versions/memoryMulticore.pd
old versions/memoryMachine_lite_inst.pd
old versions/memoryMachine_instrument.pd
old versions/memoryMachine.pd
old versions/filetest.pd
old versions/_main_old.pd
